html {
    box-sizing:border-box;
    margin:0;
    background-color:#1e1f26;
    color:#EEE;


}
body {
    width:90%;
    margin-left:5%;
    margin-right:5%;
    border:1px solid #444;
    font-family:'Jura', sans-serif;

}
#header {
    text-align:center;
    border-bottom: 1px solid #666;
    font-size:4em;
    }
.header {
    margin:10% 5% 0% 5%;
}
section {

}
p {
    margin: 0 5% 0 5%;
    line-height: 1.75;
    width:50%;
    font-size:2em;
    border-bottom:1px solid;
    border-top:1px solid;
}

ul {
    margin-left:5%;
    line-height: 1.75;
    font-size:2em;
}
