* {
	
	box-sizing:border-box;
	margin:0px;
	overflow-x:hidden;
}



@media only screen and (max-width:400px) {
	
	nav .link {
		
		display:block;
		overflow:hidden;
		padding:auto-flow;
	}
}



h1 {
	
	padding:20px;
	font-size:3em;
	background-color:black;
	border-bottom:5px solid;
}


#header {
  font-size:1.5em;
  font-family:Manuale;
  background-color:white;
  text-align:center;
  padding:0px;
  color:#922610;
	border-bottom:5px solid;
}

body {
	
	background-color:black;
	background-size:cover;
	background-repeat:no-repeat;
	height:100vh;
	
}




#article {
  
  margin:0px;
  
	background-size:cover;
	background-repeat:no-repeat;
	background-color:black;
}

.section {
  /*margin:20px;*/
  padding:20px;
	background-color:black;
  text-align:center;
  color:white;
	/*box-shadow:1px 5px 10px;*/
	background-size:cover;
	background-repeat:no-repeat;
	
}

em {color:red;
      font-size:14px;
}

#kingdoms {
	
	color:orange;
}
 h4 {
  font-family:Manuale;
  font-size:2em;
  color:black;
  text-align:center;
   margin-top:50px;
	 background-color:#922610;
	 border-radius:5px;
}

.h4 {
	display:none;
  font-family:Manuale;
  font-size:2em;
  color:black;
  text-align:center;
   margin-top:50px;
	 background-color:#922610;
	 border-radius:5px;
}

p {  
	
    padding:5px;
    margin:0px;
    text-align:center;
    font-family:Manuale;
    font-size:1.5em;
    line-height:2em;
    border-bottom:2px solid #922610;
    border-radius:1px;
    
}





#footer {
      text-align:left;
      margin-left:10px;
	   background-color:black;
	   color:grey;
	   bottom:0px;
	   width:100%;
	   font-size:10px;
	   
}

nav {
	
	
	overflow:hidden;
	text-align:center;
	background-color:black;
}

 .link {
	 display:inline-table;
	text-align:center;
	 border-radius:5px;
	padding:25px;
	 margin:20px;
	text-decoration:none;
	color:#922610;
	font-family:above;
	font-size:large;
	 border:2px solid;
	background-color:black;
	}




      .link:hover {
		    
	        
	        background-color:black;
		    color:red;
         padding:25px;
}  

 .link:active {color:black;
	background-color:red;
	padding:20px;
	margin:20px;

}





