html {
    box-sizing:border-box;
    margin:0;
    background-color:#1e1f26;
    color:#EEE;


}
body {
    width:50%;
    margin-left:25%;
    margin-right:25%;
    border:1px solid #444;
    font-family:'Jura', sans-serif;

}
#header {
    text-align:center;
    border-bottom: 1px solid #666
    }
.header {
    margin:10% 5% 0% 5%;
}
section {

}
p {
    margin: 0 5% 0 5%;
    line-height: 1.75;
}


#img {

    width:100px;
    background-image:url(https://github.com/fillpot30/TEAM-P3RPLEX3D/blob/master/android-chrome-512x512.png?raw=true);
}
